<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        eligendi porro id delectus magnam fugiat dignissimos harum tempora
        assumenda velit est, ducimus adipisci, optio aut ex, rerum voluptatem ad
        ipsam. Vitae possimus id quis dolore, nostrum accusamus aut? Harum,
        natus! Aut cum at doloremque incidunt, quas blanditiis deserunt
        doloribus, laboriosam beatae, ut labore repellendus. Accusamus nulla
        aliquid ducimus officiis illo doloribus corporis voluptates earum
        voluptatibus? Dolores culpa ea similique eos provident repudiandae odio,
        sed id ipsum expedita saepe. Facere, fugiat inventore tempora quibusdam
        molestias beatae? Hic laboriosam delectus ut aliquam quae minima.
        Corrupti praesentium aliquam soluta quasi distinctio architecto porro.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
        quaerat vitae quos vel eos dolor cum sunt consequuntur dignissimos nulla
        dolore veniam soluta, praesentium harum ex illum totam ea natus libero
        animi omnis expedita. Officiis consectetur laboriosam voluptatem
        inventore neque.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
